

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    flex-direction: column;
    background: #0D131A; 
}


.main {
    text-align: center;
    color: aliceblue;
    margin-bottom: -0.5%; 
    padding: 0 20px; 
}
.main h1 {
    margin-bottom: 5%; 
}

main.table {
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    display: inline-block; /* Cambiar a display inline-block */
    display: flex; /* Utilizar flexbox para centrar los elementos */
    justify-content: center; /* Centrar horizontalmente */
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    width: 70%; /* Ajustar el ancho del contenedor de la tabla */
    max-width: 90vw; /* Establecer un ancho máximo para el contenedor */
    margin-top: 20px; /* Espacio superior */
}


table {
    width: 100%; /* Ajustar el ancho de la tabla al 100% del contenedor */
    table-layout: fixed; /* Fijar el ancho de la tabla */
    border-collapse: collapse;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: 40vh; /* Altura máxima para el desplazamiento vertical */
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow-y: auto; /* Desplazamiento vertical */
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb { 
    visibility: visible;
}

table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffe68e;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
    margin: 0 auto; 
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    text-align: center;
    font-size: 1rem;
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow {
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #D91F28;
}

thead th.active span.icon-arrow {
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow {
    transform: rotate(180deg);
}

thead th.active, tbody td.active {
    color: #FFCF28;
}

.Acciones {
    display: flex; /* Hacer que los elementos se alineen horizontalmente */
    align-items: center; /* Centrar verticalmente los elementos */
}

.Acciones img {
    margin-right: 10px; /* Agregar un margen derecho para separar los elementos */
}

header {
    display: grid;
    grid-template-columns: 38% 60%; 
    background: #000;;
    color: #fff;
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    align-items: center;
}

.left-column, .right-column {
    padding: -2px; 
}

.exit {
    margin-right: auto; 
}

.left-column img{
    max-width: 10%; 
    height: auto; 
    margin-left: 5%; /* Desplazamiento hacia la izquierda */
}
.right-column img{
    max-width: 40%;
    height: auto; 
}

.button button {
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    padding: 0 20px; /* Agrega relleno horizontal */
    width: auto; /* Ancho automático según el contenido */
    max-width: 100%; /* Ancho máximo del 100% del contenedor */
    height: 50px;
    background: #292C33;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: 2px solid #292C33;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}



button {
    width: 100%; 
    max-width: 100%;
    height: 50px;
    background: #292C33;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: 2px solid #292C33;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .main h1 {
        font-size: 24px; 
    }
    
    button {
        width: 80%; 
        max-width: 200px; 
    }

    img{
        max-width: 50%; 
        height: auto; 
    }
}

