@font-face {
    font-family: 'Hind Madurai';
    src: url('fonts/HindMadurai-Regular.woff2') format('woff2'),
         url('fonts/HindMadurai-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Aplicar la fuente a todo el cuerpo del documento */
body {
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #0D131A; 
}

body h1 {
    color: white;
    margin-top: 10%; 
}

header {
    display: grid;
    grid-template-columns: 40% 60%; 
    background: #000;
    color: #fff;
    width: 100%;
    height: 6.5vw; 
    position: fixed; 
    top: 0; 
    z-index: 20000000; 
    align-items: center;
}

.left-column, .right-column {
    padding: -2px; 
}

.exit {
    margin-right: auto; 
}

.left-column img {
    max-width: 10%; 
    height: 3vw; 
    margin-left: 5%; /* Desplazamiento hacia la izquierda */
}

.right-column img {
    width: 20vw;
    height: 6vw; 
}

.registro {
    background-color: #ffffff7d; /* Color de fondo de la cuadrícula */
    border-radius: 15px;
    height: 56vh; 
    padding: 5%;
    justify-content: center;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.5vw;
}

.registro:hover {
    background-color: #D91F28;
    transform: scale(1.07);
    color: white;
}

.products {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    padding: 20px;
    max-width: 78%; /* Establecer un ancho máximo para el contenedor */
    margin-top: 10px; 
    z-index: 99999;
}

.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 17vw);/* 4 columnas que se ajustan */
    grid-auto-rows: minmax(20vh, auto); /* Ajustar para 4 columnas */
    gap: 20px; /* Aumentar el espacio entre los contenedores */
    padding: 20px; /* Añadir espacio alrededor de la grilla */
    border-radius: 15px; /* Redondear los bordes de la cuadrícula */
    background-color: #ffffff00; /* Color de fondo de la cuadrícula */
    justify-content: center;
    align-items: center;
}
.img_product {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3E6EC; /* Color de fondo de la imagen */
    width: 100%; /* Hacer que la imagen ocupe todo el ancho */
    height: 200px; /* Ajustar la altura a un tamaño fijo */
    margin-bottom: 10px; /* Margen inferior */
    border-radius: 15px; /* Redondear los bordes */
}

.img_product img {
    width: 95%;
    height: 95%;
    border-radius: 15px;
}

.details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 15px;
    box-sizing: border-box;
    gap: 10px;
}

.details- {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2.3vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px; 
}

.details- h4 {
    margin: 2px; /* Elimina el margen predeterminado del h3 */
}

.details- p {
    margin: 2px; /* Elimina el margen predeterminado del párrafo */
}

.img_product:hover .details {
    opacity: 1;
}

.textInformation {
    text-align: left;
    background-color: transparent; /* Color de fondo del texto */
    padding: 10px; /* Añadir espacio alrededor del texto */
    color: #0D131A;
    border-radius: 15px;
    margin-top: 0px; 
    height: 40%;
    align-content: space-around;

}

.info{
    height: 50%;
    width: 100%;
    background-color: #222;
}

.acciones {
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: flex-end; 
    flex-direction: row;
    gap: 5px;
    width: 100%;
}


.information {
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: end; 
    flex-direction: row;
    gap: 15%;
    padding: 0px;
}

.information_text {
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    justify-content: flex-start; /* Alinea el contenido al inicio horizontalmente */
    align-items: center; /* Centra verticalmente el contenido */
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    width: 35%;
}

.new-price,
.current-price,
.old-price {
    margin: 0;
    display: flex; /* Hace que el contenedor sea un contenedor flex */
    justify-content: flex-start; /* Alinea el contenido al inicio horizontalmente */
    align-items: center; 
}

.information_text h4 {
    margin-bottom: 3px; /* Elimina el margen inferior del elemento h4 */
}

.textInformation p {
    margin-bottom: 3%;
}

.product-name {
    font-size: 20px; /* Tamaño de la fuente deseado */
    font-weight: bold; /* Opcional: Puedes hacer el nombre en negrita si lo deseas */
}

.old-price {
    color: #0d131ab1;
}

.img_button {
    border-radius: 50%; 
    overflow: hidden; 
    border: none; 
    padding: 0; 
    cursor: pointer; 
    width: 50%; 
    height: 50%;  
}

.img_button img {
    display: block; /* Asegura que la imagen se muestre como un bloque */
    width: 100%; /* Ajusta el ancho de la imagen al tamaño del botón */
    height: auto; /* Ajusta automáticamente la altura de la imagen */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    margin-right: 8vw; 
    margin-bottom: 20px;
}

footer img {
    height: 100%;
    width: auto;
}

/* Media queries para hacer el diseño responsive */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr); /* Cambiar a dos columnas en pantallas pequeñas */
    }
}
