body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: #0D131A; 
}

header { 
    background: #000;;
    color: #fff;
    width: 100%; 
    position: fixed; 
    top: 0; 
    position: fixed;
    width: 100%;
    height: 6.5vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
}

header img{
    width: 20vw;
    height:6vw; 
}

.container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 5vw;
}
.main{
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url(/images/FONDO.jpeg) no-repeat center / cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    justify-content: center;

    text-align: center; /* Centra horizontalmente el texto dentro de .main */
}
#chk{
    display: none;
}

.usuarios{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #fff;
    font-size:2.3em ;
    justify-content: center;
    display: flex;
    margin: 60px 50px;
    font-weight: bold;
    cursor: pointer;
    transition:.5s ease-in-out ;
}
select {
    width: 60%;
    height: 40px; /* Aumentar la altura */
    background: #e0dede;
    margin: 5px auto; /* Ajustar el margen */
    padding: 10px; /* Reducir el relleno */
    border: none;
    outline: none;
    border-radius: 5px;
    color: #32373c; /* Color del texto */
    font-size: 12px; /* Tama침o de fuente */
}


.administrador input {
    width: 60%;
    height: 20px;
    background-color: #000; /* Color negro */
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff; /* Color del texto */
}


option {
    background-color: #e0dede; /* Color de fondo de las opciones */
    color: #000; /* Color del texto de las opciones */
    font-size: 12px; /* Tama침o de fuente de las opciones */
}

/* Estilo para cuando el desplegable est치 enfocado */
select:focus {
    border: 2px solid #FFD028; /* Cambia el color del borde cuando est치 enfocado */
}

button{
    width: 60%;
    height: 40px;
    justify-content: center;
    display: block;
    color: #fff;
    margin: 10px auto;
    background:#FFD028 ;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor:pointer ;
}

button.hover{
    background: red;
}

.administrador{
    height: 460px;
    background: #E3E6EC;
    border-radius: 60% / 10%;
    transform: translateY(-45px);
    transition: .8s ease-in-out;
}

.administrador label{
    color: #D91F28;
    transform: scale(.6);
}

#chk:checked ~.administrador{
    transform: translateY(-325px);
}

#chk:checked ~.administrador label{
    transform: scale(1);
}

#chk:checked ~.usuario label{
    transform: scale(.6);
}
