
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    flex-direction: column;
    background: #0D131A; 
}

body h1{
    color: white;
    margin-top: 10%; 
}

header {
    display: grid;
    grid-template-columns: 40% 60%; 
    background: #000;
    color: #fff;
    width: 100%; 
    position: fixed; 
    top: 0; 
    z-index: 1000; 
    align-items: center;
}

.left-column, .right-column {
    padding: -2px; 
}

.exit {
    margin-right: auto; 
}

.left-column img{
    max-width: 10%; 
    height: auto; 
    margin-left: 5%; /* Desplazamiento hacia la izquierda */
}

.right-column img{
    max-width: 40%;
    height: auto; 
}

.datosProducto{
    display: flex; 
    justify-content: center; 
    flex-direction: column;
}

form{
    position: relative; /* Cambiado a relativo para ajustar al contenido */
    max-height: 25vw; /* Tamaño máximo del contenedor */
    overflow-y: auto; /* Habilita el desplazamiento vertical si es necesario */
    background:  #e3e6ec8d;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width:65vw; /* Cambiado a automático para ajustarse al contenido */
    margin-bottom: 20px; /* Añadido margen superior */
}

.img_product{
    max-width: 100%; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_product img {
    max-width: 50%; 
    height: auto; 
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.labels_update {
    color: #333;
    display: block;
    margin-bottom: 10px;
    max-width: 90%;
    
}

.text_details {
    height: 40px;
    font-size: 16px;
    width: 98%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: #E3E6EC;
}
.right {
    display: flex; 
    justify-content: center; 
    align-items: flex-end; /* Alinea el contenido al final del contenedor */
    margin-top: 20px; /* Añade un margen superior */
}

input:hover{
    background: #d91f2890;

    box-shadow:#ffd028;
}
button:hover{
    background: #D91F28;
    scale: 1.3;
    box-shadow:#ffd028;
}
button {
    width: 100%; 
    max-width: 200px;
    height: 50px;
    margin: 0px 6%;
    background: #FFCF28;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: 2px solid #00000000;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
    flex-wrap: wrap;
}
button:hover{
    background: #D91F28;
    scale: 1.3;
    box-shadow:#ffd028;
}