<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar-" th:fragment="grid-container">
        <div class="sidebar-content">
            <div class="car-top">
                <img src="/images/x.png" onclick="toggleSidebar()">
                <div class="text">
                    <h3>Tu carrito</h3>
                </div>
                
            </div>
            <div class="line"></div>

            <div th:if="${#lists.isEmpty(productsSelect)}" class="image-null">
                <h3>¡Ups! Tu carrito está vacío.</h3>
                <img src="/images/carro-vacio-1.png" alt="Carrito vacío">
                <p>Agrega productos para verlos aquí</p>
                <div class="button-car">
                    <button type="button" onclick="toggleSidebar()">Elegir productos y servicios</button>
                </div>
            </div>

            <div th:if="${!#lists.isEmpty(productsSelect)}" class="productss">
                <div class="ti">
                    <h2>Productos y servicios</h2>
                </div>
                
                <!-- Iterar sobre los productos y mostrar cada uno -->
                <div  class="informationPro" >
                    <div  th:each="product : ${productsSelect}">
                        <div class="productSelect">
                            <div class="imageP">
                                <img th:if="${product.image}" th:src="@{'/uploads/' + ${product.image}}" /> 
                            </div>
                            <div class="textName">
                                <p th:text="${product.name}"/>
                            </div>
                            
                            <div class="prices">
                                <div class="new-prices" th:if="${product.discount > 0}">
                                    <span>$</span><span th:text="${product.price - (product.price * product.discount / 100)}"></span>
                                </div>
                                <div class="current-prices" th:unless="${product.discount > 0}">
                                    <span>$</span><span th:text="${product.price}"></span>
                                </div>
                                <div class="old-prices" th:if="${product.discount > 0}">
                                    <s><span>$</span><span th:text="${product.price}"></span></s>
                                </div>

                                
                            </div>
                            <button class="delete" th:attr="data-product-id=${product.productId}" type="button">
                                <img src="/images/basura.png">
                            </button>
                        </div>
                        <div class="lines"></div>
                    </div>
                   
                </div>
                <div class="actions">
                    <p> Subtotal</p>
                    <h2><pan>$</span><span th:text="${quote.price}"></span></h2>
                    <div class="accioness">
                        
                        <button type="button" onclick="view()">Ver cotización</button>
                        <button type="button" >Agendar cita</button>
                    </div>
                    <div class="whats">
                        <img src="/images/whatsapp.png" onclick="whatsApp()">
                    </div>  
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>