<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la cotización</title>
    <link rel="stylesheet" href="styleDetailsQuotes.css">
</head>
<body>
    <div class="exit">
        <header>
            <div class="left-column">
                <img src="/images/cerrar-sesion.png" onclick="volver()">
            </div>
            <div class="right-column">
                <img src="/images/LogoApp.jpeg">
            </div>
        </header>
    </div>

    <div class="conteiner" th:object="${quote}">
        <h1>Detalles de la cotización <span th:text="${quote.id}"></span></h1>
        <div class="information">
            <div class="general_information">

                <label for="estate" class="labels_update">Estado de la cotización</label>
                <input type="text" th:value="*{estate}" class="text_details" id="estate" name="estate"  readonly required>

                <label for="price" class="labels_update">Valor de la cotización</label>
                <input type="text" th:value="*{price}" class="text_details" id="price" name="price"  readonly required>

                <h2>Información del vehículo</h2>

                <div class="part1">
                    
                        <label for="brand" class="labels_update">Marca del vehículo</label>
                    <div class="info">
                        <input type="text" th:value="${vehicle.brand}" class="text_details" id="brand" name="brand"  readonly required>
                    </div>
                    
                    <label for="model" class="labels_update">Modelo del vehículo</label>
                    <input type="text" th:value="${vehicle.model}" class="text_details" id="model" name="model"  readonly required>
                </div>
                <div class="part2">

                    <label for="year" class="labels_update">Año del vehículo</label>
                    <div class="info">
                        <input type="text" th:value="${vehicle.year}" class="text_details" id="year" name="year"  readonly required>
                    </div>

                    <div class="j" th:if="${vehicle.cylinderCapacity != null}">
                        <label for="cylinderCapacity" class="labels_update">Cilindraje del vehículo</label>
                        <input type="text" th:value="${vehicle.cylinderCapacity}" class="text_details" id="cylinderCapacity" name="cylinderCapacity" readonly required>
                    </div>
                </div>

            </div>

            <div class="products_quote">
                <h2>Productos y servicios</h2>
                <div class="grid-container">
                    <div th:each="product: ${products}"  class="registro">
                        <div class="hola">
                            <div class="img_product">
                                <img th:if="${product.image}" th:src="@{'/uploads/'+ ${product.image}}" />
                            </div>
                            <div class="textInformation">
                                <p th:text="${product.name}"></p>                          
                                <div class="information">
                                    <div class="information_text">
                                        <h4>Desde</h4>
                                        <div class="new-price" th:if="${product.discount > 0}">
                                            <span>$</span><span th:text="${product.price - (product.price * product.discount / 100)}"></span>
                                        </div>
                                        <div class="current-price" th:unless="${product.discount > 0}">
                                            <span>$</span><span th:text="${product.price}"></span>
                                        </div>
                                        <div class="old-price" th:if="${product.discount > 0}">
                                            <s><span>$</span><span th:text="${product.price}"></span></s>
                                        </div>
                                        <div class="old-price" th:if="${product.discount < 1}">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button  th:attr="onclick='window.location.href=\'/api/quote/update/' + ${quote.id} + '\''"  method="GET">Editar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>