<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Cotizaciones</title>
    <link rel="stylesheet"  href="/style/styleListQuotes.css">
</head>
    <body>
        <div class="exit">
            <header>
                <div class="left-column">
                    <img src="/images/image.png">
                </div>
                <div class="right-column">
                    <img src="/images/LogoApp.jpeg">
                </div>
            </header>
        </div>
        <div class="main">
            <h1>Listado de cotizaciones</h1>
        </div>
        <main class="table" id="customers_table">
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>Id de cotización</th>
                            <th>Estado</th>
                            <th>Valor</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <trtr th:each="product, rowStat : ${products}" th:class="${rowStat.odd} ? 'odd' : ''">
                            <td th:text="${product.productId}"></td>
                            <td th:text="${product.estado}"></td>
                            <td th:text="${product.valor}"></td>
                            <td>
                                <div class="Acciones">
                                    <img src="/images/lupa.png">
                                    <img src="/images/configuraciones.png">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
        <div class="button">
            <button>Regresar</button>
        </div>
    </body>
</html>