<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/stylelogin.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        
        <div class="usuario">
            <form>
                <label for="chk" aria-hidden="true">Datos del vehículo</label>
                <select name="marca" required="">
                    <option value="">Selecciona una marca</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Honda">Honda</option>
                    <option value="Ford">Ford</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <select name="modelo" required="">
                    <option value="">Selecciona un modelo</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Honda">Honda</option>
                    <option value="Ford">Ford</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <select name="modelo" required="">
                    <option value="">Selecciona el cilindraje</option>
                    <option value="Toyota">1</option>
                    <option value="Honda">2</option>
                    <option value="Ford">3</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <button>Cotizar Servicios</button>
            </form>
        </div>
        <div class="administrador">
            <form id="adminForm">
                <label for="chk" aria-hidden="true">Bienvenido administrador</label>
                <input type="email" name="email_admin" id="email_admin" placeholder="Email" required="" >
                <input type="password" name="password_admin" placeholder="Contraseña" required="" >
                <button type="button" onclick="redirectToEmail()">Ingresar</button>
            </form>
        </div>
    </div>
    <script>
        function redirectToEmail() {
            var emailValue = document.getElementById("email_admin").value;
            var url = "/ingresa/" + emailValue;
            console.log("hola", emailValue);
            window.location.href = "/ingresa/" + emailValue;
        }

        document.getElementById("adminForm").addEventListener("submit", function(event) {
            event.preventDefault(); // Evitar el envío del formulario
            redirectToEmail(); // Llamar a la función que maneja el envío del formulario
        });
    </script>
</body>
</html>
