<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/date.css">
    <title>Agendar cita</title>
</head>
<body>
    <div class="exit">
        <header>
            <div class="left-column">
                <img src="/images/cerrar-sesion.png" onclick="volver()">
            </div>
            <div class="center-column">
                <img src="/images/LogoApp.jpeg">
            </div>

            <div class="right-column" th:attr="data-quote-id=${quote.id}" >
                <img src="/images/verificar-2.png" onclick="toggleSidebar()">
            </div>
           
        </header>
    </div>

        <h1>Funcionalidad en Desarrollo</h1>
        <h2> ¡Ups! Esta funcionalidad está en desarrollo. Pronto estará disponible.</h2>  
        
        
</body>
</html>